    
    h1 {
        color:yellow;
        text-align:center;
        font-size:94px;
        background-color:green;
        position:center;
        }
     
    body {  
      background-color:orange;
      background-size:cover;
      background-attachment:fixed;
      margin: 0 5%;
      display:block;
        }
        
    li{
        background-color:green;
        
       
        color:yellow;
        font-size:23px;
    }
    
    
    
    img{
        width:250px;
        height:250px;
        
      }
      
    p {
         background-color:white;
         color:black;
         font-size: 40px;
    }
    
    br {
        margin:0 4%;
    }
    
    
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
